<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header class="header">
      <div class="container flex">
        <h2>
          <a class="logo" href="/"><img src="/images/online.png" alt="" /></a>
        </h2>
        <nav class="btn-nav">
          <% if(url == "/home") { %>
          <a class="btn_page active" href="/home">Home</a>
          <% } else { %>
          <a class="btn_page" href="/home">Home</a>
          <% } %> <% if (user) { %>
          <a href="" class="username"><%= user.fullName %></a>
          <% if (url == "/admin/product/new") { %>
          <a class="btn_page active" href="/admin/product/new">Add Product</a>
          <% } else { %>
          <a class="btn_page" href="/admin/product/new">Add Product</a>
          <% } %> <% if (url == "/admin/product/list") { %>
          <a class="btn_page active" href="/admin/product/list">Product List</a>
          <% } else { %>
          <a class="btn_page" href="/admin/product/list"> Product List</a>
          <% } %>
          <a class="btn_page" href="/users/logout">Logout</a>
          <% }else{ %> <% if(url == "/users/login") { %>
          <a class="btn_page active" href="/users/login">login</a>
          <% } else { %>
          <a class="btn_page" href="/users/login">login</a>
          <% } %> <% if(url == "/users/register") { %>
          <a class="btn_page active" href="/users/register">Register</a>
          <% } else { %>
          <a class="btn_page" href="/users/register">Register</a>
          <% } %> <% } %>
        </nav>
      </div>
    </header>
  </body>
</html>
